<p><%= @user.name %> 様</p>
<p>===============================================</p>

<p>パスワード再発行のご依頼を受け付けました。</p>

<p>こちらのリンクからパスワードの再発行を行ってください。</p>
<p><a href="<%= @url %>"><%= @url %></a></p>

<p>このメールは、FIRST HITからのパスワード再設定リクエストに関するものです。</p>
<p>もし、ご自身でこのリクエストを行っていない場合は、このメールを無視してください。</p>

<p>===============================================</p>
<p>FIRST HIT</p>
