<h1>ゲーム結果</h1>
<p>最終スコア: <strong><%= @game.total_score %> 点</strong></p>

<%= link_to 'もう一度プレイする', new_game_path, class: "btn btn-primary" %>
<%= link_to 'ホームに戻る', root_path, class: "btn btn-primary" %>