<h1 class="text-center">FIRST HITへようこそ!</h1>
<p class="text-center fs-5">画像検索の王者を目指せ！</p>
<div class="d-flex justify-content-center align-items-center">
  <%= image_tag asset_path('firsthit_icon.png'), alt: 'アイコン', size: '300x300' %>
</div>
