<% content_for(:title, '遊び方') %>
<h1 class='text-center'>
  遊び方
</h1>

<div class="container">

  <!-- ユーザー登録 -->
  <h2 class="text-center">ユーザー登録</h2>
  <div class="text-center">
    <a href="https://gyazo.com/52acef0090901966120bf13e9384bbf4" target="_blank">
      <img src="https://i.gyazo.com/52acef0090901966120bf13e9384bbf4.gif" alt="ユーザー登録GIF" class="img-fluid">
    </a>
  </div>
  <p>
    左上の「メニュー」から「ユーザー登録」を選択し、ユーザー登録画面に移動します。<br>
    『メールアドレス』『ユーザー名（半角英数字のみ）』『パスワード』『パスワード確認』を入力してユーザー登録を行います。<br>
    または、画面右下の「Gログイン」を押すことでGoogleアカウントを使ってログインすることも可能です。
  </p>

  <hr>

  <!-- ログイン -->
  <h2 class="text-center">ログイン</h2>
  <div class="text-center">
    <a href="https://gyazo.com/3d357834d7845134eafec50747d744f8" target="_blank">
      <img src="https://i.gyazo.com/3d357834d7845134eafec50747d744f8.gif" alt="ログインGIF" class="img-fluid">
    </a>
  </div>
  <p>
    ユーザー登録を行うと自動的にログインされます。右上の表示でログイン中であるかを確認することができます。<br>
  </p>
  <p class="text-danger">
    ※ログイン中でない場合、「ランキング」には参加できませんのでご注意ください。
  </p>

  <hr>

  <!-- ゲーム開始 -->
  <h2 class="text-center">ゲーム開始</h2>
  <div class="text-center">
    <a href="https://gyazo.com/02647300de94eee428ea56594066f413" target="_blank">
      <img src="https://i.gyazo.com/02647300de94eee428ea56594066f413.gif" alt="ゲーム開始GIF" class="img-fluid">
    </a>
  </div>
  <p>
    左上の「メニュー」から「プレイ」を選択するとゲームが始まります。第1問から第5問までの全5問あります。
  </p>

  <hr>

  <!-- ゲームの進め方① -->
  <h2 class="text-center">ゲームの進め方①</h2>
  <div class="text-center">
    <a href="https://gyazo.com/0a8e59ea8664d75d756aedbb5ae5cab6" target="_blank">
      <img src="https://i.gyazo.com/0a8e59ea8664d75d756aedbb5ae5cab6.gif" alt="ゲーム進行GIF1" class="img-fluid">
    </a>
  </div>
  <p>
    表示されている画像に合う検索ワードを考え、入力します。入力が完了したら「検索」を押します。
  </p>

  <hr>

  <!-- ゲームの進め方② -->
  <h2 class="text-center">ゲームの進め方②</h2>
  <div class="text-center">
    <a href="https://gyazo.com/ad2fedf11df23b54be41a44a9fdf3d09" target="_blank">
      <img src="https://i.gyazo.com/ad2fedf11df23b54be41a44a9fdf3d09.gif" alt="ゲーム進行GIF2" class="img-fluid">
    </a>
  </div>
  <p>
    検索結果が表示されます。先ほど表示された画像が何番目にヒットしたかを確認します。<br>
    また、獲得した得点や検索結果上位10位の画像を確認することができます。<br>
    検索結果を確認したら次の問題へ進みます。
  </p>

  <hr>

  <!-- ゲーム終了 -->
  <h2 class="text-center">ゲーム終了</h2>
  <div class="text-center">
    <a href="https://gyazo.com/f1bd42858e1a143cba1b6effd7ab3d01" target="_blank">
      <img src="https://i.gyazo.com/f1bd42858e1a143cba1b6effd7ab3d01.gif" alt="ゲーム終了GIF" class="img-fluid">
    </a>
  </div>
  <p>
    5問目まで終えたら、「結果を見る」を押し、結果を見ます。合計得点を確認することができます。<br>
    「Xに共有」を押すことで結果をシェアすることもできます。
  </p>

  <hr>

  <!-- ランキング -->
  <h2 class="text-center">ランキング</h2>
  <div class="text-center">
    <a href="https://gyazo.com/0f1fcba5e51276597cceab50f6b44b93" target="_blank">
      <img src="https://i.gyazo.com/0f1fcba5e51276597cceab50f6b44b93.png" alt="ランキング画像" class="img-fluid">
    </a>
  </div>
  <p>
    「メニュー」の「ランキング」から全体のランキングを確認することができます。<br>
    自分の最高得点、順位に加えて、全ユーザーの上位10位の結果も確認できます。<br>
  </p>
  <p class="text-danger">
    ※ランキング参加にはログインが必要です。
  </p>
</div>
