<% content_for(:title, '管理画面') %>
<h1>Pixabay API レートリミット情報</h1>

<table border="1">
  <thead>
    <tr>
      <th>日時</th>
      <th>リクエスト上限</th>
      <th>残りリクエスト数</th>
    </tr>
  </thead>
  <tbody>
    <% @rate_limits.each do |rate| %>
      <tr>
        <td><%= rate.created_at.in_time_zone('Asia/Tokyo').strftime('%Y-%m-%d %H:%M:%S') %></td>
        <td><%= rate.limit %></td>
        <td><%= rate.remaining %></td>
      </tr>
    <% end %>
  </tbody>
</table>
